#include "../main/config.h"

Hit WAVE "hit.wav"
Miss WAVE "miss.wav"
IDB_BACKGROUND BITMAP "sea.bmp"

STRINGTABLE
{
    IDS_HIT, "Hit"
    IDS_MISS, "Miss"
    IDS_START, "START"
    IDS_RANDOM, "RANDOM"
    IDS_FONT, "Arial"
    IDS_FILE_CORRUPTED, "Stat file is corrupted, it will be recreated"
    IDS_ERROR, "Error"
    IDS_WIN, "You win!"
    IDS_WIN_DESCRIPTION, "Congratulations, you win!"
    IDS_LOST, "You lost..."
    IDS_LOST_DESCRIPTION, "Do not despair, everything is ahead."
    IDS_ACCURACY, "\n\nYour accuracy: "
    IDS_TIME, "\nTime: "
    IDS_BEST_TIME, "\n\nBest victory time: "
    IDS_GAMES, "\nGames played: "
    IDS_WINS, "\nWinned: "
    IDS_PERCENT, "\nPercent: "
    IDS_ANOTHER, "\n\nWant to play another battle?"
    IDS_SEC, " sec"
    IDS_NO_WINS, "no victories"
    IDS_PERCENT_SIGN, "%"
    IDS_STAT_FILENAME, "stat"
    IDS_STAT, "Statistics"
    IDS_STAT_DESCRIPTION, "Your stats:"
    IDS_HELP, "Help"
    IDS_WELCOME, "Welcome to Sea Battle!"
    IDS_GAME_HELP, "\n\nRules are easy, you need to destroy all enemy's ships faster, then he will do it with yours."
    IDS_PREGAME_HELP, "\nBut first of all you should choose position for your ships, you can do it manually or use random generation by clicking appropriate button."
    IDS_STAT_HELP, "\nAfter game stats will be shown, so you can estimate quality of your decisions in match."
    IDS_MENU_HELP, "\nAt menu bar you can turn off or on game sounds, check your stats, start new game or exit the game."
    IDS_END, "\n\nGood luck and have fun!"
}